/* Main NavBar */

.NavBar {
  background: #2A9BE4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 65px;
}

.Branding {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 50px;
  text-decoration: none;
}

/* UserAccount Dropdown */

.UserAccount {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 50px;
  cursor: pointer;
}

.UserAccount:hover {
  color: #CFCFCF;
}

.DownArrow {
  font-size: medium;
}

.UserAccount__Link {
  text-decoration: none;
  color: #FFFFFF;
  padding-left: 1.5rem;
  transition: all 0.2s linear;
}

.UserAccount__Link:hover {
  color: #CFCFCF;
}

.UserAccountMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 200px;
  right: 35px;
  top: 55px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: .7rem 0;
  text-align: center;
}

.UserAccountMenu__Link {
  border: none;
  background: #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #A7A8BA;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  transition: all 0.2s linear;
}

.UserAccountMenu__Link:hover {
  color: #CFCFCF;
}

.UserAccountMenu__Link:focus {
  outline: none;
}

.AccountMenu-enter {
  opacity: 0;
}

.AccountMenu-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.AccountMenu-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.seperator {
  width: 100%;
  background: #A7A8BA;
}

/* Burger */

.Burger {
  position: absolute;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.Burger:focus {
  outline: none;
}

.Burger:hover > div {
  background: #CFCFCF;
}

.Burger > div {
  width: 2rem;
  height: 0.25rem;
  background: #FFFFFF;
  border-radius: 10px;
  transition: all 0.2s linear;
  position: relative;
  transform-origin: 1px;
}

.burger_open:first-child {
  transform: rotate(45deg);
}

.burger_open:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

.burger_open:nth-child(3) {
  transform: rotate(-45deg);
}

/* Menu */

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #404853;
  text-align: center;
  position: absolute;
  top: 65px;
  left: 0;
  width: 12%;
  min-width: 130px;
  height: calc(100% - 65px);
  z-index: 1;
}

.Menu__Link {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  transition: all 0.2s linear;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 1.9rem 0;
}

.Menu__Link-selected {
  background: #233038;
}

.Menu__Link:hover {
  color: #CFCFCF;
  opacity: 0.8;
}

.Menu-enter {
  transform: translateX(-100%);
}

.Menu-enter-active {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.Menu-exit-active {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

/* Media Queries */

@media screen and (max-width: 760px) {
  .NavBar {
    justify-content: center;
  }

  .Menu {
    width: 20%;
  }
}

@media screen and (max-width: 420px) {
  .Menu {
    width: 200px;
  }
}