.Search {
  margin-left: 15%;
}

.SearchHeader {
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.SearchHeader > h2 {
  font-size: 30px;
  font-weight: bold;
}

.SearchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

#SearchForm__term {
  padding: 7px;
  margin-bottom: 0;
  width: 250px;
}

#SearchForm__term::placeholder {
  font-weight: bold;
}

.SearchForm__button {
  font-size: 20px;
  padding: 2px 6px;
  margin-left: .5rem;
}

.SearchForm__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .Search {
    margin-left: 20%;
  }
}

@media screen and (max-width: 760px) {
  .Search {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .SearchHeader {
    flex-direction: column-reverse;
  }

  .SearchHeader > h2 {
    text-align: center;
    margin-top: 0;
  }

  .SearchForm {
    padding: 1rem;
  }

  #SearchForm__term {
    margin: 0;
  }
}